<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>View Folder</title>
</head>

<body>
    <div class="container mt-5">
        <h1>
            Hello, <%=user.fullName%>! Below you will find details about your file.
        </h1>
        <% if(locals.file) { %>
            <h3>
                <b>File Name: </b>
                <%= file.name %>
            </h3>
            <h3>
                <b>Creation Date:</b>
                <%= file.createdOn %>
            </h3>
            <p><a href="<%=file.url%>"><button class="btn btn-success">View file</button></a></p>
            <p><a href="/files/folder/<%=file.folderId%>"><button class="btn btn-primary">Go back to your
                        folder.</button></a></p>
            <% } %>
    </div>

</body>

</html>